html
  head
    title Join #{org.name} on Slack!
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no')
    link(rel='stylesheet', href='/css/styles.css')
  .splash
    .logos
      .logo.org(style='background-image: url(#{org.logo});')
      .logo.slack
    p
      | Unete a
      b  #{org.name}
      |  en Slack.
    p.status
      b.active #{org.users.active}
      |  usuario(s) en linea ahora de
      b.total  #{org.users.total}
      |  registrados.
    form
      input(type='email', placeholder='you@yourdomain.com', autofocus='true')
      button.loading Pedir mi invitación
    footer
      | powered by
      a(href='https://github.com/domix/wonky', target='_blank')  wonky

    script(src='/webjarslocator/zeptojs/zepto.js')
    script(src='/webjarslocator/zeptojs/event.js')
    script(src='/webjarslocator/zeptojs/ajax.js')
    script(src='/assets/index.js')
    a(href='https://github.com/domix/wonky', target='_blank')
      img(style='position: absolute; top: 0; left: 0; border: 0;', src='https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png')

