extends ./layout/wonky
block head
  title Unete a #{org.name} en Slack!
block body
  .logos
    .logo.org(style='background-image: url(#{org.logo});')
    .logo.slack
  p
    | Unete a
    b  #{org.name}
    |  en Slack.
  p.status
    b.active #{org.users.active}
    |  usuario(s) en linea ahora de
    b.total  #{org.users.total}
    |  registrados.
  form
    input(type='email', placeholder='you@yourdomain.com', autofocus='true')
    button.loading Pedir mi invitación
block scripts
  script(src='/webjarslocator/zeptojs/zepto.js')
  script(src='/webjarslocator/zeptojs/event.js')
  script(src='/webjarslocator/zeptojs/ajax.js')
  script(src='/assets/index.js')