html
  head
    title Join #{org.name} on Slack!
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no')
    link(rel='stylesheet', href='/css/styles.css')
  .splash
    .logos
      .logo.org(style='background-image: url(#{org.logo});')
      .logo.slack
    p
      | Join
      b  #{org.name}
      |  on Slack.
    p.status
      b.active #{org.users.active}
      |  users online now of
      b.total  #{org.users.total}
      |  registered.
    form
      input(type='email', placeholder='you@yourdomain.com', autofocus='true')
      button.loading Get my Invite
    footer
      | powered by
      a(href='https://github.com/domix/wonky', target='_blank')  wonky

    //- script(src='/webjarslocator/superagent/lib/client.js')
    //- script(src='/assets/client.js')
            