extends ./layout/wonky
block head
  title #{message.get('join.title', org.name)}
block body
  .logos
    .logo.org(style='background-image: url(#{org.logo});')
    .logo.slack
  p !{message.get('join', org.name)}
  p.status
    b.active #{org.users.active}
    |  #{message.inflect('online.user', org.users.active)}
    b.total  #{org.users.total}
    |  #{message.inflect('registered.user', org.users.total)}
  form
    input(type='email', placeholder='you@yourdomain.com', autofocus='true')
    button.loading #{message.get('invitation.ask')}
block scripts
  script(src='/webjarslocator/zeptojs/zepto.js')
  script(src='/webjarslocator/zeptojs/event.js')
  script(src='/webjarslocator/zeptojs/ajax.js')
  script(src='/assets/index.js')